@charset "utf-8";



html,body{ font:14px/1.8 'Microsoft YaHei',Tahoma,Verdana,'Simsun'; color:#333; background:url(../img/BG.jpg); -webkit-text-size-adjust:none;}



a{ color:#666; text-decoration:none;}



a:hover{ color:#1c57c4; text-decoration:none;}



.fl{float:left;}



.fr{float:right;}



.center{margin:0 auto;}

.title{font-size:20px;}

.position{position:relative;}



.width{width:1000px;}




/*首页*/

.HER--top-nav{margin:20px 180px 0px 0px; height:40px; line-height:30px; display:block;overflow:hidden;}

.topnav{height:40px; width:420px; line-height:20px; display:block; float:right;}



.HER--top-nav span{height:40px; display:block; overflow:hidden; width:420px; float:left; text-align:right;}



.HER--top-nav a{color:#9d9d9d; background:url(../img/HER--top-nav.png) no-repeat -2px 0px; padding-left:18px; margin-left:20px;}



.HER--top-nav a:hover{color:#fff;}



.HER--cen{background:url(../img/HER--cen.jpg); height:60px; overflow:hidden;}



.logoimg{ position:absolute; left:140px; top:2px;}



.logoimg2{ position:absolute; left:100px; top:-5px;}



.HER--cen-con{min-height:95px; _height:95px; height:95px; overflow:hidden; display:block;}



.logo{ padding-top:10px; background:url(../img/topbanner.png) no-repeat right center; width:650px; height:65px;}



.HER--search{width:200px; height:50px; background:url(../img/HER--sousuo.jpg) no-repeat left top; position:absolute; bottom:20px; right:0px;}



.HER--search form{margin:7px 0 0 5px; display:block; float:left;}



*html .HER--search form{margin:6px 0 0 0px;}



*+html .HER--search form{margin:6px 0 0 0px;}



.HER--search .searchgo{background-color:#372519; color:#fff; padding:0 0px; border-color:#372519;}



*html .HER--search .searchgo{padding:0 0px;}



*+html .HER--search .searchgo{padding:0 0px;}



.SEO{position:absolute; bottom:0px; right:30px; color:#fff;}



.HER--bot{height:35px; background:url(../img/HER--bot.jpg);}



.HER--bot li{float:left; text-align:center; position: relative; z-index:101;}



.HER--bot li a{color:#fff; display:block; line-height:35px; height:35px; text-align:center; _overflow:hidden;}



.HER--bot li>a{overflow:hidden;}



.HER--bot .hover a{color:#4E4E4B; background:url(../img/nav.jpg) repeat-x;}



.nav-line{margin-top:5px; padding-bottom;10px; width:3px; height:28px; background:#fff url(../img/line.jpg) no-repeat;}



.HER--bot dl{display:none; position:absolute; top:35px; left:0px; z-index:100;}



.HER--bot dl dd{height:35px; line-height:35px; border-bottom:#901f21 solid 2px;}



.HER--bot dl a{background:#fff !important; white-space:nowrap;}



.HER--bot dl a:hover{color:#1c57c4;}



.CON--title{height:35px; line-height:34px; color:#1C83D7; font-size:16px;}


.CON--title .tubiao1{height:34px; background:url(../img/tubiao1.png) no-repeat 2px 3px; float:left; padding:0 10px; margin-top:5px; margin-right:10px;}



.CON--title .tubiao2{height:34px; background:url(../img/tubiao2.png) no-repeat 2px 2px; float:left; padding:0 10px; margin-top:6px; margin-right:10px;}



.CON--title .tubiao3{height:34px; background:url(../img/tubiao3.png) no-repeat 5px 3px; float:left; padding:0 10px; margin-top:6px; margin-right:10px;}



.CON--title .tubiao4{height:34px; background:url(../img/tubiao4.png) no-repeat 5px 2px; float:left; padding:0 10px; margin-top:6px; margin-right:10px;}



.CON--title .tubiao5{height:34px; background:url(../img/tubiao5.png) no-repeat 5px 2px; float:left; padding:0 10px; margin-top:6px; margin-right:10px;}



.CON--title .tubiao6{height:34px; background:url(../img/tubiao6.png) no-repeat 5px 2px; float:left; padding:0 10px; margin-top:6px; margin-right:10px;}



.CON--title-more{height:15px; line-height:15px; color:#1c57c4; font-size:12px; padding:0 5px; position:absolute; right:0px; top:10px;}

.CON--title-more2{height:15px; line-height:15px; color:#1c57c4; font-size:12px; padding:0 5px; position:absolute; left:750px; top:680px;}

.CON--top{margin-top:5px;}



.CON--top-l,.CON--top-r{margin-bottom:10px;}



.CON--top-pd{padding:5px;}

.CON--top-pd  img{margin:10px;}

.CON--top-pd span.video{ width:280px; height:220px; float:left;}

.CON--top-pd span.abouttext{margin:20px 20px 0 0px; width:400px; height:180px; float:right;}







.CON--top-rnr{padding-top:15px;}



.CON--top-l{width:660px;}



.CON--top-r{width:320px;}



.CON--top-rs{width:310px; float:left;}



.CON--top-rs dd  span{height:80px; line-height:20px; overflow:hidden; font-size:12px; color:#666}

.CON--top-rs dd  h3{height:80px; line-height:20px; overflow:hidden;}

.CON--top-rs dd p{overflow:hidden;}



.CON--top-rs dd a{color:#333;}



.CON--top-rs dd a:hover{color:#1c57c4;}



.CON--top-rx{display:block; overflow:hidden; height:30px; line-height:30px; background:url(../img/CON--cen-jt.gif) no-repeat left center; padding-left:10px;}



.CON--cen{margin-bottom:20px;}



.CON--cen-pd{padding:10px;}



.CON--cen-pd2{padding:10px 20px;}



.CON--cen-pd3{padding:20px 50px; min-height:150px;}



.CON--cen-l{width:640px; background:url(../img/CON--cen-cen2.jpg);  padding-top:2px;}

.CON--cen-r{width:320px; background:url(../img/CON--cen-cen.jpg);  padding-top:2px;}



.CON--cen-c{margin-left:20px;}



.CON--cen-listel li{ margin:0px 5px; height:30px; line-height:30px; overflow:hidden; padding-left:13px; background:url(../img/CON--cen-jt.gif) no-repeat left 12px; }



.CON--cen-listel li a{ margin-right:5px; zoom:1;}



.CON--cen-listel li span{ float:right; color:#666;}



.CON--cen-cnr{font-size:0px;}



.CON--cen-cnr img{border:1px solid #ccc;}



.CON--cen-top{background:url(../img/CON--cen-top.jpg); _background:url(../img/CON--cen-top.jpg) no-repeat; height:2px; width:320px; position:absolute; top:0px;}



.CON--cen-pot{background:url(../img/CON--cen-bot.jpg); _background:url(../img/CON--cen-bot.jpg) no-repeat top bottom; height:2px; width:320px; position:absolute; bottom:0px;}

.CON--cen-top2{background:url(../img/CON--cen-top2.jpg); _background:url(../img/CON--cen-top2.jpg) no-repeat; height:2px; width:640px; position:absolute; top:0px;}



.CON--cen-pot2{background:url(../img/CON--cen-bot2.jpg); _background:url(../img/CON--cen-bot2.jpg) no-repeat top bottom; height:4px; width:640px; position:absolute; bottom:0px;}


.CON--bot{margin-bottom:20px; background:url(../img/CON--bot-cen.jpg) repeat-y; padding-top:2px;}



.CON--bot-top{background:url(../img/CON--bot-top.jpg); _background:url(../img/CON--bot-top.jpg) no-repeat; height:2px; width:1000px; position:absolute; top:0px;}



.CON--bot-pot{background:url(../img/CON--bot-bot.jpg); _background:url(../img/CON--bot-bot.jpg) no-repeat top bottom; height:2px; width:1000px; position:absolute; bottom:0px;}



.CON--bot .profld{ margin:0px; position:relative; overflow:hidden;}



.CON--bot h3 span{ float:left; }



.CON--bot ol{ position: absolute; width: 2012em; }



.CON--bot ol li{ float:left; text-align:center; }



.CON--bot ol li a.img{ display:block; text-align:center; font-size:0px;}



.CON--bot ol li a.img img{ margin:auto; border:1px solid #d6d6d6;}



.CON--bot ol li h3{ font-weight:normal; margin-top:5px; height:20px; line-height:20px; overflow:hidden;}



.CON--bot .flip{width:70px; height:168px; float:left; position:absolute; top:45px; z-index:100;}



* html .CON--bot .flip{ width:70px;}



*+html .CON--bot .flip{ width:70px;}



.CON--bot .next,.CON--bot .prev{width:35px; height:168px; background:url(../img/CON--bot-jt.jpg) no-repeat;}



.CON--bot .next{background-position:-35px 0px; float:right; position:absolute; left:960px;}



.CON--bot .prev{background-position:0px 0px; float:left; position:absolute; left:5px;}



#trigger{display:none;}



#trigger{ float:left; margin-right:5px; margin-top:0px; position:relative; bottom:8px; *bottom:0px; *top:5px; zoom:1;}



#trigger a{ background:url(../img/CON--bot-jt.gif) no-repeat -78px -10px; width:8px; height:8px; font-size:0px; display:inline-block; overflow:hidden; margin-right:5px;}



#trigger a.current{ background-position:-78px 0px;}



.URL{background:#fff url(../img/URL--top.jpg) no-repeat left top;}



.URL--url{background:url(../img/URL--bot.jpg) no-repeat left bottom; padding:5px;}



.URL--url-url{background:#eee; width:990px; padding-bottom:20px;}



.URL--title{height:40px; border-bottom:#666 dotted 1px; width:940px;}



.URL--title span{color:#1C83D7;; background: url(../img/link.png) no-repeat left; padding-left:25px; font-size:14px; position:absolute; left:0px; bottom:3px;}



.URL--title a{font-size:10px; position:absolute; right:0px; bottom:3px;}



.URL--TUimg,.URL--WBtxt{width:960px;}



.URL ul li{float:left; margin:5px 0 0 30px; _margin-left:15px; white-space:nowrap;}



footer{background:url(../img/FOOT--BG.jpg) repeat-x left top; margin-top:20px; text-align:center; color:#fff; padding:25px 0;}



footer a{color:#fff;}



footer a:hover{color:#ff0;}



.foot-text{margin-top:5px;}



/*内页*/



.sidebar{margin-top:5px;}



.sb_nav{width:205px; margin-bottom:20px;}



.sb_nav-top{background:url(../img/sb_nav-top.gif) repeat-y; padding-top:30px;}



.sb_nav-title{background:url(../img/sb_nav-title.jpg) no-repeat left; display:block; height:42px; text-align:center; white-space:nowrap; overflow:hidden; _width:205px;}



.sb_nav-title span{font-size:15px; color:#fff; line-height:39px;}



.sb_nav-nr{padding:20px 0 20px 24px;}



.sb_nav-nr a{font-weight:bold; color:#1C83D7; background:url(../img/sub_19.jpg) no-repeat left; width:157px; height:30px; display:block; overflow:hidden; white-space:nowrap; line-height:30px; margin-bottom:10px; text-align:center;}



.sb_nav-nr a:hover{color:#666; background:url(../img/sub_16.jpg) no-repeat left;}



.sb_nav-bot{background:url(../img/sb_nav-bot.gif); height:110px;}



.sb_us-top{background:url(../img/sb_us-top.png) no-repeat left; height:156px; width:205px;}

.sb_us-top2{background:url(../img/sb_us-top2.png) no-repeat left; height:85px; width:205px;}

.sb_us-cen{background:url(../img/sb_us-cen.jpg) repeat-y;}



.sb_us-wb{color:#fff; margin:0 10px 0 15px; text-align:center;}


.sb_us-wb span a{ color:#fff; text-decoration:none;}

.sb_us-wb span a:hover{ color:#1c57c4; text-decoration:none;}



.sb_us-pot{background:url(../img/sb_us-pot.jpg) no-repeat left bottom; height:5px;}



.sb_box{width:750px;}


.sb_box-box{border-bottom:#fff solid 4px;}



.sb_box-title{height:30px; line-height:30px;color:#1C83D7; }



.sb_box-title span{font-size:18px; float:left; max-width:250px; white-space:nowrap; overflow:hidden; border-bottom:#1C83D7 solid 4px; _position:absolute; _top:0px;}



.sb_box-wz{max-width:450px; white-space:nowrap; overflow:hidden; text-align:right; border-bottom:#1C83D7 solid 4px; _position:absolute; _top:0px; _right:0px;}



.searchnavlist select{overflow:hidden; width:160px; white-space:nowrap;}



.searchnavlist input{width:150px;}



.main_deng form label{position:relative;}



#newslist li{ border-bottom:1px dashed #999999}

#newslist li p{color:#777;}



*html .main_deng form label img{position:absolute; top:-10px; right:-5px;}



*+html .main_deng form label img{position:absolute; top:0px; right:-5px;}







/*--首页成功案例--*/



.rslides{width:100%;position:relative;list-style:none;padding:0; position:absolute; left:40px;height:131px;width:230px;}



*html .rslides{left:-0px;}



*+html .rslides{left:-0px;}



.rslides_nav{height:51px;width:17px;position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);top:50%;left:-20px;opacity:0.5;text-indent:-9999px;overflow:hidden;text-decoration:none;background:url(../img/i.png) no-repeat 0 0px;margin-top:-20px}



.rslides_nav:active{opacity:1.0}



.rslides_nav.next{left:auto;background-position:-17px 0px;right:-20px;}



.f426x240{overflow:hidden}



.rslides_tabs{height:7px; margin:0px auto;text-align:center;zoom:1;}



*html .rslides_tabs{ margin-left:80px; margin-top:7px;}



*+html .rslides_tabs{ margin-left:80px;margin-top:7px;}



.rslides_tabs li{ height:7px; line-height:7px;float:none;_float:left;*float:left;display:inline-block;margin-right:5px;}



.rslides_tabs a{text-indent:-9999px;overflow:hidden;background:#DDD;display:inline-block;_display:block;*display:block;width:7px;height:7px}



.rslides_tabs .rslides_here a{background:#04AEF4;}



.focus{position:relative; margin:15px auto;}



.rslides_tabs{display:none;}





.gform{width:720px; height:223px; display:block; margin:0 auto; overflow:hidden; z-index:10; padding:15px 0px 20px 0px !important; background:url(../img/sb_box.png) repeat-y left top;}

.gform .lybox{ width:720px; height:240px; margin:0 auto; display:block; overflow:hidden;}

.gform .lybox dl{ width:720px; height:240px; float:left; display:block; overflow:hidden;}

.gform .lybox dl dt{ width:720px; height: auto; display:block; overflow:hidden;}

.gform .lybox dl dt ul{ width:720px; height: auto; display:block; overflow:hidden; padding:0; margin:0;}

.gform .lybox dl dt ul li{ width:344px; height: auto; display:block; overflow:hidden; float:left;padding:2px 0; padding-left:12px; }

.gform .lybox dl dt ul li span{ width:70px; height:33px; display:block; overflow:hidden; float:left; font-size:14px; font-family: "微软雅黑"; color:#a96a1f; line-height:33px;}

.gform .lybox dl dt ul li .ipt-txt{ width:270px; height:33px; line-height:33px;font-size:14px; font-family: "微软雅黑"; color:#a96a1f; border:none; background:url(../img/ipt-txt.png) no-repeat; padding-left:4px;}

.gform .lybox dl dd{ width:720px; height: auto; display:block; overflow:hidden; padding:2px 0 2px 12px;}

.gform .lybox dl dd span{ width:70px; height:33px; display:block; overflow:hidden; float:left; font-size:14px; font-family: "微软雅黑"; color:#a96a1f; vertical-align:top;}

.gform .lybox dl dd textarea{ width:625px; height:84px; display:block; overflow:hidden; float:left; font-size:14px; font-family: "微软雅黑"; color:#a96a1f; vertical-align:top; border:none; background:url(../img/textarea.png) no-repeat; padding:2px;}

.gform .lybox dl dd .btn{ width:110px; height:40px; display:block; overflow:hidden; float:right;border:none; background:url(../img/gbtn.png) no-repeat; margin-top:10px; margin-right:25px; cursor: pointer;}





